<h1>Links</h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a href= "<%=link.url %>"><%= link.title %></a>
    </li>
  <% end %>
</ul>

<ul id='tags'>
  <% @tags.each do |tag| %>
  <form align="center" action="/tags/<%=tag.name%>" method='get'>
    <button name="tag_name" type="submit" value="<%=tag.name%>"><%=tag.name%></button>
  </form>
  <% end %>
</ul>

<form action="/links/new">
  <input type='submit' value= 'Add link'>
</form>
